@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Text;
@using HealthCare.Model;

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="h5Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="messageKey" />
                <h5 class="modal-title" id="h5Title">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    @foreach (Language item in Globals.SupportedLanguages)
                    {
                        <div class="form-group">
                            <label for="message-text-@item.Code" class="col-form-label">@item.Description</label>
                            <textarea class="form-control" id="message-text-@item.Code"></textarea>
                        </div>
                    }
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary" onclick="SaveTranslations()">Send message</button>
            </div>
        </div>
    </div>


    <script>

        function SaveTranslations() {

            var translationList = [];
            var messageKey = $("#messageKey").val();
            @foreach (Language item in Globals.SupportedLanguages)
            {

                var str = "translationList.push({" +
                            "key:messageKey," +
                            "language:'" + item.Code + "'," +
                            "message:$('#message-text-"+item.Code+"').val()" +
                            "});";

                @Html.Raw(str);
            }



            $.ajax({
                url: 'http://localhost:15000/api/translation/',
                type: 'post',
                data: JSON.stringify(translationList),
                headers: {
                   "Authorization":"Bearer " + $.cookie("@Globals.LOGGED_IN_USER_TOKEN_COOKIE_KEY")                    
                },
                contentType: 'application/json',
                success: function (data) {
                   alert('Translations Saved Successfully');
                },
                fail: function (resp) {
                    alert('Hata oluştu');
                }
            });

        }


        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var messageKey = button.data('messagekey'); // Extract info from data-* attributes
            $("#messageKey").val(messageKey);

            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);

            modal.find('.modal-title').text(messageKey);

            @foreach (Language item in Globals.SupportedLanguages)
            {
                var str = $"$('#message-text-{item.Code}').val('');";
                @Html.Raw(str);
            };

            $.get("http://localhost:15000/api/translation/" + messageKey, function (dataList, status) {
                 $.each(dataList, function(index, data) {
                                $('#message-text-'+data.language).val(data.message);
                    });
                });

        })

    </script>

</div>


